<div class="col-md-10">
  <div class="segfull" style="min-height:300px;">
    <span>Employee</span>
    <div class="clearfix"></div>
    <div class="col-md-12">
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-xs-12 col-md-3 full-card ">
        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-3 full-card ">

        <div class="flip-card active-card">
          <div class="card">
            <div class="col-md-12">
              <div class="checkbox checkbox-info checkbox-circle">
                <input id="checkbox8" type="checkbox" checked="">

                <label for="checkbox8" class="program-name">
                            Program Name One
                        </label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>