<div class="col-md-2">
    <div class="row">
        <div class="segfull" style="min-height: 700px;">
            <span>Employee</span>
            <div class="col-md-12">
                <div class="gw-sidebar">
                    <div id="gw-sidebar" class="gw-sidebar">
                        <div class="nano-content">
                            <ul class="gw-nav gw-nav-list">
                                <li class="init-un-active"> <a href="javascript:void(0)"> <span class="gw-menu-text"><img class="imageemployee" src="../assets/images/photo.jpg">Menu</span> </a>                                    </li>
                                <li class="init-un-active"> <a href="javascript:void(0)"> <span class="gw-menu-text"><img class="imageemployee" src="../assets/images/photo.jpg">Menu</span> </a>                                    </li>
                                <li class="init-un-active"> <a href="javascript:void(0)"> <span class="gw-menu-text"><img class="imageemployee" src="../assets/images/photo.jpg">Menu</span> </a>                                    </li>
                                <li class="init-un-active"> <a href="javascript:void(0)"> <span class="gw-menu-text"><img class="imageemployee" src="../assets/images/photo.jpg">Menu</span> </a>                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>